.set{
    @include flex($direction: column, $justify: space-between);
    // background-color: coral;
    // width: 200px;
    // height: 200px;
    img{
        background-color: peru;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
}
